




.steamicon {
    position: fixed;
    width: 1.7562533262373603vw;
    height: 1.7562533262373603vw;
    top: 1vw;
    left: 90.8vw;
    opacity: 100%;
}

.instagramicon {
    position: fixed;
    width: 1.7562533262373603vw;
    height: 1.7562533262373603vw;
    top: 1vw;
    left: 81.95848855774348vw;
    opacity: 100%;
}

.githubicon {
    position: fixed;
    width: 1.7562533262373603vw;
    height: 1.7562533262373603vw;
    top: 1vw;
    left: 86.3vw;
    opacity: 100%;
}

.discordicon {
    position: fixed;
    width: 1.7562533262373603vw;
    height: 1.7562533262373603vw;
    top: 1vw;
    left: 95.2vw;
    opacity: 100%;
}
.hometext {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    position: fixed;
    top: 0.2vw;
    left: 34.7vw;
}
.gamestext {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    position: fixed;
    top: 0.2vw;
    left: 42.2vw;
}
.selftext {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    position: fixed;
    top: 0.2vw;
    left: 51vw;
}
.schooltext {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    position: fixed;
    top: 0.2vw;
    left: 57.5vw;
}

.whiteboytext {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    position: fixed;
    top: 0.2vw;
    left: 3vw;
}

.lefticon{
    background-color: transparent;
    position: fixed;
    left: .3vw;
    top: 1vw;
    width:1.9691325172964342vw;
    height:1.9691325172964342vw;
    content: url(Untitled-52.svg);
}

.centermaterial{
    position: fixed;
    top: 15.5vw;
    left: 41.4vw ;
    background-color: transparent;
    width:16.3vw;
    height:19.24vw;

}

.centericon {
    content: url(Untitled-1320.jpg);
    position: fixed;
    top: 15.5vw;
    left: 41.4vw ;
    background-color: transparent;
    width:16.3vw;
    height:14.24vw;
    opacity: 200%;
    border-radius: 60%;
}
.roman {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    position: fixed;
    top: 29vw;
    left: 43.5vw;

}



@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    .steamicon {
        position: fixed;
        width: 1.7562533262373603vw;
        height: 1.7562533262373603vw;
        top: 1.6vw;
        left: 90.6vw;
        opacity: 100%;
    }
    
    .instagramicon {
        position: fixed;
        width: 1.7562533262373603vw;
        height: 1.7562533262373603vw;
        top: 10vw;
        left: 91vw;
        opacity: 100%;
    }
    
    .githubicon {
        position: fixed;
        width: 1.7562533262373603vw;
        height: 1.7562533262373603vw;
        top: 20vw;
        left: 91vw;
        opacity: 100%;
    }
    .discordicon {
        position: fixed;
        width: 1.7562533262373603vw;
        height: 1.7562533262373603vw;
        top: 30vw;
        left: 90vw;
        opacity: 100%;
    }
    .centermaterial{
        position: fixed;
        top: 17.5vw;
        left: 30vw ;
        background-color: transparent;
        width:40vw;
        height:50vw;
    
    }
    
    .centericon {
        content: url(Untitled-1320.jpg);
        position: fixed;
        top: 17.5vw;
        left: 30vw ;
        width:40vw;
        height:40vw;
        opacity: 200%;
        border-radius: 60%;
    }
    .roman {
        color: rgb(255, 255, 255);
        font-family: 'Roboto', sans-serif;
        font-size: 7vw;
        position: fixed;
        top: 54vw;
        left: 37vw;
    
    }
    .hometext {
        color: rgb(255, 255, 255);
        font-family: 'Roboto', sans-serif;
        font-size: 2.5vw;
        position: fixed;
        top: 60vw;
        left: 1vw;
    }
    
    .gamestext {
        color: rgb(255, 255, 255);
        font-family: 'Roboto', sans-serif;
        font-size: 2.5vw;
        position: fixed;
        top: 70vw;
        left: 1vw;
    }
    
    .selftext {
        color: rgb(255, 255, 255);
        font-family: 'Roboto', sans-serif;
        font-size: 2.5vw;
        position: fixed;
        top: 80vw;
        left: 1vw;
    }
    .schooltext {
        color: rgb(255, 255, 255);
        font-family: 'Roboto', sans-serif;
        font-size: 2.5vw;
        position: fixed;
        top: 90vw;
        left: 1vw;
    }

    .whiteboytext {
        color: rgb(255, 255, 255);
        font-family: 'Roboto', sans-serif;
        font-size: 2.5vw;
        position: fixed;
        width: 1.7562533262373603vw;
        height: 1.7562533262373603vw;
        top: 0.7vw;
        left: 5vw;
    }
    
    .lefticon{
        background-color: transparent;
        position: fixed;
        left: .3vw;
        top: 2vw;
        width: 3.394890899414582vw;
        height: 3.394890899414582vw;
        content: url(Untitled-52.svg);
    }





















  }

